@import "../../../../styles.scss";

.container {
  width: 100%;
  position: relative;
  .container__form {
    width: 100%;
    padding: 2rem;
    form {
      padding: 1rem;
      .form__elt {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        select {
          width: 16.5rem;
        }
        input {
          width:16.5rem
        }
        &--multiple {
          display: flex;
          select {
            width: 5.5rem;
          }
          input {
            width: 11rem;
          }
        }
      }
    }
  }
  .container__newArtifact {
    background-color: $light;
    color: $dark;
    border: 1px solid $blueLight;
    border-radius: 3px;
    margin-bottom: 2rem;
    &--title {
      border-bottom: 1px solid $blueDark;
      h4 {
        color: $blueLight;
        padding: 1rem;
        font-weight: bold;
      }
    }
    &--img {
      width: 70px;
      height: 70px;
      border: 1px solid $blueDark;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffbe76;
    }
    &--body {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    &--stats {
      margin: 1rem 0 1rem 0;
    }
  }
}

@media screen and (min-width: 1020px) {
  .container {
    .container__form {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .container__newArtifact {
      width: 30%;
    }
  }
}
