<div class="container">
  <div class="container__presentation">
    <img src="../../../assets/images/sucrose-chibi.png" alt="Sucrose png illustration">
    <h1>ArtifactOptimizer for Genshin Impact</h1>

    <p class="container__presentation--intro">
      Welcome to the tool <strong>ArtifactOptimizer</strong>!
    </p>

    <h2>For whom ?</h2>
    <p>
      This tool is for experienced <strong>Genshin Impac</strong>t players who
      own a lot of rare artifacts with 4 and 5 stars value.
    </p>

    <h2>Why ?</h2>
    <p>
      When our inventory overflows, it becomes difficult to equip our characters
      with the most suitable artifacts to increase the desired characteristics.
    </p>

    <h2>How ?</h2>
    <p>
      <strong>ArtifactOptimizer</strong> allows you to save in your collection
      the artifacts you will collect over time. You will be able to select your
      character and define the set or sets of artifacts you want and choose the
      primary and secondary stats you want to prioritize for each piece of
      artifact.
    </p>
    <p>
      ArtifactOptimizer will search for you the 5 ultimate artifacts for your
      hero according to your criteria.
    </p>
    <p>
      You will be able to save the results in your collection so that the
      artifacts are not reused for other characters.
    </p>

    <h2>Rating</h2>
    <p>
      This website will NEVER ask you for your Mihoyo account ID and password.
      It is completely independent and has no access or rights to your player
      informations.
    </p>
  </div>
</div>
